<mat-toolbar color="primary">
    <div>
        <span>Primer Parcial Material</span>
    </div>

    <div>
        <button mat-button routerLink="bienvenido">Bienvenidos</button>
        <button mat-button routerLink="busqueda">Busqueda</button>

        <button mat-button [matMenuTriggerFor]="aboveMenu">Pelicula</button>
        <mat-menu #aboveMenu="matMenu" yPosition="above">
            <button mat-menu-item routerLink="pelicula/alta">Alta</button>
            <button mat-menu-item routerLink="pelicula/listado">Listado</button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="belowMenu">Actor</button>
        <mat-menu #belowMenu="matMenu" yPosition="below">
            <button mat-menu-item routerLink="actor/alta">Alta</button>
            <button mat-menu-item routerLink="actor/listado">Listado</button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="beforeMenu">Paises</button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
            <button mat-menu-item routerLink="paises/listado">Listado</button>
        </mat-menu>
    </div>

</mat-toolbar>