<p>paises-listado works!</p>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3" *ngIf="estado=='cargado' else spinner">
            <app-detalle-pais [paisParaMostrar]="paisSeleccionado"></app-detalle-pais>
        </div>
        <ng-template #spinner>
            <div class="col-md-3">
                <div>Cargando...</div>
            </div>
        </ng-template>

        <div class="col-md-8">

            <app-tabla-paises (paisSeleccionado)="tomarPaisParaDetalles($event)"></app-tabla-paises>
        </div>
    </div>



</div>